@use '../GlobalStyles/GlobalStyle.scss' as *;

.contact-wrapper {
    @include contentWrapper;
    @include bgWrapper;
    .contact-container {
        @include contentWidth;
        display: flex;
        min-height: 300px;
        .contact-form {
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            form {
                width: 100%;    
                font-size: 1.6rem;
                #form-info {
                    display: flex;
                    gap: 2rem;
                    input {
                        background-color: #141414;
                        color: white;
                        outline: none;
                        border: 1px solid rgba(255,255,255,.04);
                        padding: 1.4rem 0 1.4rem 2.2rem;
                        border-radius: 8px;
                        flex-basis: 50%;
                    }
                }
                #text-message{ 
                    display: block;
                    width: 100%;
                    margin-top: 1.8rem;
                    font-size: 1.6rem;
                    background-color: #141414;
                    color: white;
                    outline: none;
                    border: 1px solid rgba(255,255,255,.04);
                    padding: 1.4rem 0 1.4rem 2.2rem;
                    border-radius: 8px;
                }
                input {
                    width: 100%;
                    margin-top: 1.8rem;
                    background-color: #141414;
                    color: white;
                    outline: none;
                    border: 1px solid rgba(255,255,255,.04);
                    padding: 1.4rem 0 1.4rem 2.2rem;
                    border-radius: 8px;
                }
                input[type=submit] {
                    margin-top: 3.2rem;
                    padding: 2rem 3.2rem;
                    background-color: #141414;
                    max-width: 22rem;
                    font-size: 1.6rem;
                    display: flex;
                    gap: 1.2rem;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    transition: all .3s linear;
                    border-radius: 8px;
                    cursor: pointer;
                    border: 1px solid rgba(255,255,255,.04);
                    &:hover {
                        background-color: rgb(238, 168, 37);
                    }
                }
            }
            .form-sent {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                img {
                    width: 350px;
                    height: 350px;
                }
            }
            #return-form {
                background-color: #141414;
                color: $clr-primary;
                opacity: 0.8;
                outline: none;
                padding: 1.4rem 0 1.4rem 1.4rem;
                border: 1px solid rgba(255,255,255,.04);
                
                border-radius: 8px;
                font-size: 1.6rem;
                cursor: pointer;
                display: block;
                justify-content: center;
                margin: 2.2rem auto 3.2rem;
                max-width: 22rem;
                &:hover {
                    opacity: 1; 
                }
            }
        }
        .contact-img {
            flex-basis: 50%;
            img {
                max-width: 100%;
                height: 400px;
                margin: 0 auto;
                display: block;
            }
        }
    }
    @include device(767px) {
        // @include paddingPage(1.6rem);
        padding-top: 120px;
        .contact-container {
            flex-direction: column;
            form {
                #form-info {
                    flex-direction: column;
                    gap: 1.6rem;
                    input{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}